{% extends "par.html" %}
{% block hcl %}
<div class="mt-2 d-flex justify-content-center">
    <form class="col-3 max-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-2 ">
        <h2>Update recipe</h2> <hr>
        <label for="exampleInputEmail1" class="form-label">Recipe name</label>
        <input type="text" class="form-control" name="recipe_name" value="{{recipe.recipe_name}}" required id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-2">
        <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
        <textarea name="recipe_description" class="form-control" id="">{{recipe.recipe_description}}</textarea>
    </div>
    <div class="mb-2">
        <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
        <input type="file" class="form-control" name="recipe_image" >
    </div class="mb-2">
        <button type="submit" class="btn btn-outline-dark">Update</button>
    </form>
</div>


{% endblock %}